* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}
/* header section */

.header {

   background-color: rgba(246, 204, 175, 1);
   width: 1920px;
   height: 550px;
   
}
.header-1 {
    position: absolute;
    left: 40px;
    top: 90px;
    color: #272727;
    font-size: 30px;
    font-size: bold;
}
.paragraph {

    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
}
.img {
    position: absolute;
    right: 50px;
    top: 25px;
}
.header li {
    list-style: none;
    
}
.btn-primary {
    position: absolute;
    border-radius: 5px;
    background: rgba(229, 84, 115, 1);
    border: 0;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    top: 350px;
    cursor: pointer;
}