* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}
/* header section */

.header {

   background-color: rgba(246, 204, 175, 1);
   width: 1350px;
   height: 550px;
   
}
.header-1 {
    position: absolute;
    left: 40px;
    top: 90px;
    color: #272727;
    font-size: 30px;
    font-size: bold;
}
.paragraph {

    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
}
.img {
    position: absolute;
    right: 50px;
    top: 25px;
}
.header li {
    list-style: none;
    
}
.btn-primary {
    position: absolute;
    border-radius: 5px;
    background: rgba(229, 84, 115, 1);
    border: 0;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    top: 350px;
    cursor: pointer;
}

/* featured section */
.featured {
    margin-top: 80px;
    text-align: center;


    
}
.featired-heading {
    font-size: 30px;
    margin: 20px;
    font-style: italic;
}
.flower-section {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    text-align: center;
    width: auto;
    left: 200px;
    position: absolute;
    justify-content: center;
    width: 1000px;
    height: 400px;
    
}
.flowers1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 364px;
    height: 428px;
    margin: 10px;
}
.flowers2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 370px;
    height: 370px;
    margin: 10px;
}
.flowers3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    margin: 10px;

}


/* support secition */

.support {
    box-sizing: border-box;
    height: 180px;
    display: flex;
    position: absolute;
    top: 1300px;
    left: 300px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05); 
}
.support-1 {
    margin: 30px;
}

/* hot deal! */
.hot-deal {
    box-sizing: border-box;
    position: absolute;
    top: 1550px; 
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1350px;
    height: 400px;
    padding: 90px;
    display: flex;
    text-align: center;
}
.hot-dea-text {
    margin: 30px;
}
.hot-deal li {
    list-style: none;
}
.btn-primary2 {

    border-radius: 5px;
    background: rgba(229, 84, 115, 1);
    border: 0;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    margin: 20px;
    cursor: pointer;
}
.hot-deal img {
    position: absolute;
    right: 155px;
    width: 279px;
    height: 288px;
}

